@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(234, 245, 196);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    position: sticky; /* Cambia fixed por sticky */
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 99, 28);
    padding: 20px;
}
h1{
    color: white;
    font-size: 40px;
    text-decoration:underline #86d6ef;
}

header ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header ul a{
    color: white;
    font-size: 14px;
}

a:hover{
    text-decoration: overline underline;
    color: #ffee00;
    cursor: pointer;
}

main{
    background-color: #1e5a22; /* Tu verde de fondo */
    color: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 900px;
    margin: 20px auto;
}

main img{
    float: left; 
    margin-right: 20px; 
    margin-bottom: 15px; 
    max-width: 200px;
    border-radius: 10px;
    border: 4px solid rgb(7, 7, 7);
}

p{
    font-size: 15px;
    color: rgb(248, 244, 244);
    text-align: justify;
    line-height: 1.5;
}

main {
    flex: 1;
}


footer{
    margin-top: auto; 
    display: flex;
    height:100%;
    background-color: rgb(18, 66, 18);
    padding: 10px 20px;
    box-sizing: border-box; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

table{
    padding: 15px;
    width: 100%;
    border-collapse: collapse;
    color: white;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
}

th, td {
    text-align: left;
    padding: 6px 12px;
    vertical-align: top;
}

th {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    background-color: #0b234d;
    color: white;
}


td:first-child, th:first-child {
    width: 220px;
}

table tr:nth-child(odd){
    background-color: #03bf22;
    color: black;
}

table tr:nth-child(even){
    background-color: white;
    color: black;
}

.mainBiographic{
    display: flex;
    gap: 20px;
    background-color: #1e5a22; /* verde de fondo */
    color: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 900px;
    margin: 20px auto;
}

.mainResume{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.mainResume ul li{
    font-size: 15px;
    margin-bottom: 15px;
}

.mainResume ul li p {
    margin-top: 5px; 
    margin-bottom: 0;
}

/* Centrar la lista superior y quitar los viñetas */
.mainResume .ulResume {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none; /* Quita los puntos/viñetas si no los deseas arriba */
    padding: 0;
}

.mainResume .ulResume li a {
    color: rgb(246, 243, 243);
    font-size: 15px;
    font-weight: bold;
}

.mainResume .ulResume li a :hover{
    text-decoration: underline, overline;
}

.pre ul li::marker,
.exp ul li::marker,
.est ul li::marker,
.pro ul li::marker {
    color: yellow;
}

.pre{
    background: linear-gradient(to right, #156780, #5c838f);
    padding:30px;
    border-radius:12px;
}


.exp{
    background: linear-gradient(to right, #798015, #8c8f5c);
    padding:30px;
    border-radius:12px;
}

.est{
    background: linear-gradient(to right, #158035, #5c8f5c);
    padding:30px;
    border-radius:12px;
}

.pro{
    background: linear-gradient(to right, #803715, #8f6f5c);
    padding:30px;
    border-radius:12px;
}

h2{
    text-decoration: underline #86d6ef;
}

.hob{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hob .enla ul a li{
    color: white;
    text-decoration: none;
}

.hob .enla{
    display:flex;
    flex-direction: column;
    gap: 20px;
}


